.page-noir .edition-block-title, .page-titre-one .edition-block-title, .page-trame-plus .edition-block-title{
	break-before: avoid;
}

.page-trame-plus{
	page: trameplus;
	page-break-before: always;
}

.page-trame-plus .edition-block-title{
	display: none;
}

.pagedjs_trameplus_page{
	position: relative;
	/*background-color: var(--noir);*/
}

.plus-trame-container{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
/*	max-height: 205mm;
	min-height: 205mm;*/
}

.plus-trame{
	color: #000;
	line-height: 0.8;
	font-size: 47pt;	
	padding: 2.5px;
}


.empty-trame{
	color: var(--noir);
	line-height: 0.8;
	font-size: 50pt;
	width: 40px;	
	padding: 5px;
}

.page-noir{
  page: noir;
  page-break-after: always;
}

.pagedjs_noir_page{
	background: var(--noir);
}

.page-titre-one{
  page: pagetitreone;
}

.page-titre-one .edition-block-title{
	display: none;
}

.page-titre-one .contents-container{
	margin-top: 0;
	margin-left: -37.5%;
}

.page-titre-one .contents-container h1{
	font-size: var(--size-title);
	margin-left: 0;
	margin-top:0;
}


.page-titre-one .contents-container h1::before {
	content: none;
	margin: 0;

}

.page-titre-one .contents-container h2{
	margin-left: 0;
	font-size: 15pt; 
	margin-top: 0; 
	margin-bottom: 2cm;
}

.page-titre-one .contents-container h2::before {
	content: none;
	margin: 0;

}

.pagedjs_pagetitreone_page{
	position: relative;
}

.logos-wrapper{
	position: absolute;
	bottom: 0;
}

.logos-wrapper figure{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5mm;
}



@page noir{
	@bottom-right {
   content: none;
 	}
}

@page trameplus{
	@bottom-right {
   content: none;
 	}
}

@page pagetitreone{
	@bottom-right {
   content: none;
 	}
}