/* --------------------------- PART TWO ------------------------------  */
/* envoyer les titres courant pour cette partie */
.pagedjs_titrepartiepart-two_page h2.edition-block-title {string-set: twotitle content(text) }
.pagedjs_part-two_page h4.edition-block-title {string-set: twosubtitle content(text) }

/* Nommer la page pour styler les marges et numéros de pages */
.part-two{
   page: part-two;
}

/* fixed bug table of contents */
.part-two.article .tableofcontents-block-title{
	/*display: none;*/
	page-break-after: avoid;
	break-after: avoid;

}

/* ----- PART TWO COLORS --------*/
@page part-two{
  /* couleur des numéros de page*/
  @bottom-right {
   color: var(--pantone-two);
 	}
 	/* contenu titre courant et couleur du titre courant */
 	 @bottom-left {
    color: var(--pantone-two);
    content: 'Controverses -> ' string(twosubtitle);
  }
}

/*.part-two a{
	color: var(--pantone-two);
}*/

/* couleur de la page précédente*/
/* pour les interpages de titre de partie */
/*.pagedjs_titrepartiepart-two_page.pagedjs_right_page ~ .pagedjs_blank_page{
	background: var(--pantone-two);
}*/

/*.pagedjs_part-two_page.pagedjs_right_page ~ .pagedjs_blank_page{
	background: var(--pantone-two);
}*/

/* tentative de fixer le bug qui ne donne pas la classe .pagedjs_blank_page au page précédent les titres des articles*/
.pagedjs_part-two_first_page, 
.pagedjs_part-two_page.pagedjs_blank_page, 
.pagedjs_titrepartiepart-two_page.pagedjs_blank_page{
	background: var(--pantone-two);
	position: relative;
}

.pagedjs_part-two_first_page .plus, 
.pagedjs_part-two_page.pagedjs_blank_page .plus, 
.pagedjs_titrepartiepart-two_page.pagedjs_blank_page .plus{
	color: #FFF;
}

.part-two .content-ul li::before{
	color: var(--pantone-two);
}

.part-two .content-ol li::marker {
  color: var(--pantone-two);
}

.part-two .content-ol li::before{
	color: var(--pantone-two);
}

.part-two .content-figure figure{
	background: var(--pantone-two);
}

.part-two figcaption,
.part-two .contents-container figcaption,
.part-two .contents-container figcaption p{
	color: var(--pantone-two);
}

/* couleur du titre */
.part-two .edition-block-title{
	color: var(--pantone-two);
}

/* couleur du sous-titre */
.part-two .edition-block-subtitle{
	color: var(--pantone-two);
}

/* couleur des titres dans le texte*/
.part-two .contents-container h1,
.part-two .contents-container h2,
.part-two .contents-container h3,
.part-two .contents-container h4,
.part-two .contents-container h5{
	color: var(--pantone-two);
}

/* couleur des notes */
.pagedjs_part-two_page .footnote, 
.pagedjs_part-two_page .footnote a,
.pagedjs_part-two_page .note-pointer a{
  color: var(--pantone-two);
}

.pagedjs_part-two_page .footnote-ref sup{
	color: var(--pantone-two);
}

/* Couleur des interpages */
.part-two.titre-partie{
  page: titrepartiepart-two;
}

@page titrepartiepart-two{
	background-color: var(--pantone-two);
	@bottom-right {
  	content: none;
 	}

}

/* Mettre des plus derrière le grand titre */
.pagedjs_titrepartiepart-two_page{
	position: relative;
	background: var(--pantone-two);
}

.pagedjs_titrepartiepart-two_page .plus{
	color: #FFF;
}

.part-two .ressources, 
.part-two .ressources a, 
.part-two .ressources-wrapper, 
.part-two .ressources-wrapper a{
	color: var(--pantone-two);
}

/* Mise en page part-two */
/*.part-two{
	break-before: page;
}*/

/* couleurs des auteurs */
.part-two .article-author{
	color: var(--pantone-two);
	text-align: right;
	margin-top: 1cm;
}


/* ----- FIN PART TWO COLORS --------*/

/* Nommer la page intro de la partie 2 pour styler les marges et numéros de pages */
.part-intro-two{
	page: part-intro-two;
}

.part-intro-two .contents-container{
	margin-top:0;
}


@page part-intro-two{
	@bottom-left {
		content: none;
		color: var(--pantone-two);
	}
	@bottom-right {
   color: var(--pantone-two);
 	}
}

/* ----------- CONTROVERSES --------------- */

.controverses{
	break-before: page;
}
/* Menu / Sommaire pour chaque thème */

.controverses .tableofcontents-block-title {
 position:relative;
 top:0;
 left:0;
 width:140%;
 color:var(--pantone-two);
 font-size:13pt;
 text-align:left;
 text-align-last:left;
 margin:0.6cm 0 0.6cm -47.3%;
}
.controverses .tableofcontents-block-title ul {
 padding:0
}
.controverses .tableofcontents-block-title li {
 display:block; 
 color:var(--pantone-two);
 margin-bottom:0.15cm
}
.controverses .tableofcontents-block-title li::before{
 color:var(--pantone-two);
}
/* FIN Menu / Sommaire pour chaque thème */

/*.controverses .content-p{
	font-style: italic;
}*/

.controverse{
	page-break-after: always;
}

/* faire commencer les articles sur la page de droite */
.controverse h4.edition-block-title{
	page-break-before: always;
	break-before: right;
}

.controverses .ressources, .controverses .ressources-wrapper{
	color: var(--pantone-two);
}
