/* --------------------------- PART ONE ------------------------------  */
/* envoyer les titres courant pour cette partie */
.pagedjs_titrepartiepart-one_page h2.edition-block-title {string-set: onetitle content(text) }
.pagedjs_part-one_page h3.edition-block-title {string-set: onesubtitle content(text) }
/*h3.edition-block-title {string-set: subtitle content(text) }*/

/* Nommer la page pour styler les marges et numéros de pages */
.part-one{
   page: part-one;
}

/* ----- PART ONE COLORS --------*/
@page part-one{
  /* couleur des numéros de page*/
  @bottom-right {
   color: var(--pantone-one);
 	}
 	/* contenu titre courant et couleur du titre courant */
/* 	@bottom-left {
    color: var(--pantone-one);
    content: string(onetitle) ' -> ' string(onesubtitle);
  }*/
  @bottom-left {
    color: var(--pantone-one);
    content: 'Le regard ->' string(onesubtitle);
  }

}

/*.part-one a{
	color: var(--pantone-one);
}*/

/* Mettre des plus derrière le grand titre */
.pagedjs_titrepartiepart-one_page{
	position: relative;
}

.pagedjs_titrepartiepart-one_page .plus{
	color: #FFF;
}

/* couleur de la page précédente*/
/* pour les interpages de titre de partie */
.pagedjs_titrepartiepart-one_page.pagedjs_right_page ~ .pagedjs_blank_page{
	background: var(--pantone-one);
}

/* pour les interpages d'articles */
/*.pagedjs_part-one_page.pagedjs_right_page ~ .pagedjs_blank_page{
	background: var(--pantone-one);
}*/

/* tentative de fixer le bug qui ne donne pas la classe .pagedjs_blank_page au page précédent les titres des articles*/
/*.pagedjs_part-one_first_page{
	background: var(--pantone-one);
	position: relative;
}

.pagedjs_part-one_first_page .plus{
	color: #FFF;
}*/

.part-one .content-ul li::before{
	color: var(--pantone-one);
}

.part-one .content-ol li::marker {
  color: var(--pantone-one);
}

.part-one .content-ol li::before{
	color: var(--pantone-one);
}

.part-one .content-figure figure{
	background: var(--pantone-one);
}

.part-one figcaption,
.part-one .contents-container figcaption,
.part-one .contents-container figcaption p{
	color: var(--pantone-one);
}

/* couleur du titre */
.part-one .edition-block-title{
	color: var(--pantone-one);
}

/* couleur du sous-titre */
.part-one .edition-block-subtitle{
	color: var(--pantone-one);
}

/* couleur des titres dans le texte*/
.part-one .contents-container h1,
.part-one .contents-container h2,
.part-one .contents-container h3,
.part-one .contents-container h4,
.part-one .contents-container h5{
	color: var(--pantone-one);
}

/* couleur des notes */
.pagedjs_part-one_page .footnote, 
.pagedjs_fiche_page .footnote,
.pagedjs_part-one_page .footnote a,
.pagedjs_fiche_page .footnote a, 
.pagedjs_fiche_page .note-pointer, 
.pagedjs_part-one_page .footnote a, 
.pagedjs_part-one_page .note-pointer a{
  color: var(--pantone-one);
}

.pagedjs_part-one_page .footnote-ref sup, .pagedjs_fiche_page .footnote-ref sup{
	color: var(--pantone-one);
}

/* Couleur des interpages */
.part-one.titre-partie{
  page: titrepartiepart-one;
}

@page titrepartiepart-one{
	background-color: var(--pantone-one);
	@bottom-right {
  	content: none;
 	}

}

.part-one .ressources, 
.part-one .ressources a, 
.part-one .ressources-wrapper,
.part-one .ressources-wrapper a{
	color: var(--pantone-one);
}

/* Mise en page part-one */
/*.part-one{
	break-before: page;
}*/



/* ----- FIN PART ONE COLORS --------*/


/* ----------- PERSPECTIVES / FICHES / FICHE --------------- */
.pagedjs_fiche_page h4.edition-block-title {string-set: onesubsubtitle content(text) }


/* Nommer la page fiche pour créer des interpages avec fond blanc et plus vert*/
.fiche{
   page: fiche;
}

@page fiche{
  /* couleur des numéros de page*/
  @bottom-right {
   color: var(--pantone-one);
 	}
 	/* contenu titre courant et couleur du titre courant */
 	 @bottom-left {
    color: var(--pantone-one);
    content: 'Le regard -> ' string(onesubtitle) ' -> ' string(onesubsubtitle);
  }
}

@page fiche:first {
	@bottom-left {
  	content: none;
  }
  @bottom-right {
  	content: none;
  }
}


/* supprimer les numéros de pages sur les pages fond blanc avec les plus*/
.pagedjs_fiche_first_page{
   page: firstpage;
}

@page firstpage{
  /* couleur des numéros de page*/
  @bottom-right {
   content:none;
 	}
 	/* contenu titre courant et couleur du titre courant */
 	 @bottom-left {
    content:none;
  }
}

/* Changer la couleur des interpages pour les pages fiche */
.pagedjs_fiche_page.pagedjs_fiche_first_page.pagedjs_right_page + .pagedjs_blank_page{
	background: #FFF;
}

.pagedjs_fiche_page.pagedjs_fiche_first_page.pagedjs_right_page + .pagedjs_blank_page .plus{
	color: var(--pantone-one);
}

.pagedjs_fiche_first_page{
	background: #FFF;
	position: relative;
}

.pagedjs_fiche_first_page .plus{
	color: var(--pantone-one);
}

/* Menu / Sommaire pour chaque thème */
.fiches .tableofcontents-block-title {
 position:relative;
 top:0;
 left:0;
 width:140%;
 color:var(--pantone-one);
 font-size:13pt;
 text-align:left;
 text-align-last:left;
 margin:0.6cm 0 0.6cm -47.3%;
}
.fiches .tableofcontents-block-title ul {
 padding:0
}
.fiches .tableofcontents-block-title li {
 display:block;
 color: var(--pantone-one); /* color:var(-pantone-one); si texte noir */
 margin-bottom:0.15cm
}
.fiches .tableofcontents-block-title li::before{
 color:var(--pantone-one);
}

/* fin Menu / Sommaire pour chaque thème */

/* Ajouter une page blanche avant chaque fiche */
.fiche h4.edition-block-title{
	font-size: 18pt;
	/*break-before: right;*/
	width: 100%;
	margin-left: 0;
}

.fiche h5.edition-block-subtitle{
	margin-left: 0;
}


.fiche .contents-container{
	margin-top: 0.5cm;
}

/*.fiches .content-p{
	font-style: italic;
}*/

.fiches .ressources, .fiches .ressources-wrapper{
	color: var(--pantone-one);
}

/* --------------------------- FIN PART ONE ------------------------------  */
